<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add pollution</title>
    <style>.field{width:180px;}</style>
</head>
<body>
<h1>Add pollution</h1>
<form method="POST">
    <label>Object</label><br>
    <input name="idobject" class="field"><br><br>
    <label>Pollutant</label><br>
    <input name="idpollutant" class="field"><br><br>
    <label>Pollutant</label><br>
    <input name="valuepollution" class="field"><br><br>
    <input type="submit" value="Send">
</form>
<a href="/">GO BACK</a>
</body>
<html>