<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add pollutant</title>
    <style>.field{width:180px;}</style>
</head>
<body>
<h1>Add pollutant</h1>
<form method="POST">
    <label>Name</label><br>
    <input name="name_pollutant" class="field"><br><br>
    <label>Mass Consumption</label><br>
    <input name="mass_consumption" class="field"><br><br>
    <input type="submit" value="Send">
</form>
<a href="/">GO BACK</a>
</body>
<html>