<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add pollutant</title>
    <style>.field{width:180px;}</style>
</head>
<body>
<h1>Add pollutant</h1>
<form method="POST">
    <label>Name</label><br>
    <input name="name_pollutant" class="field"><br><br>
    <label>Mass Consumption</label><br>
    <input name="mass_consumption" class="field"><br><br>
    <label>Tax</label><br>
    <input name="tax" class="field"><br><br>
    <label>Reference concentration</label><br>
    <input name="reference_concentration" class="field"><br><br>
    <label>Slope Factor</label><br>
    <input name="slope_factor" class="field"><br><br>
    <label>Toxicity Class</label><br>
    <input name="toxicity_class" class="field"><br><br>
    <label>TLV</label><br>
    <input name="tlv" class="field"><br><br>
    <label>Mass Flow Rate</label><br>
    <input name="mass_flow" class="field"><br><br>
    <input type="submit" value="Send">
</form>
<a href="/">GO BACK</a>
</body>
<html>